## Preprocessing

In [56]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [57]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(["EIN", "NAME"], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [58]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [59]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df["APPLICATION_TYPE"].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [60]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_df["APPLICATION_TYPE"].value_counts()[application_df["APPLICATION_TYPE"].value_counts() < 500].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [61]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df["CLASSIFICATION"].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [62]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts()>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [63]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts()<500].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [64]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"]
X = application_df.drop(columns="IS_SUCCESSFUL")

# Convert categorical data to numeric with `pd.get_dummies`
X = pd.get_dummies(X)

In [65]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [103]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

# Create a StandardScaler instances
scaler = StandardScaler()

# scale the ASK_AMT column
application_df['ASK_AMT_scaled'] = scaler.fit_transform(application_df[['ASK_AMT']]) 
application_df = application_df.drop('ASK_AMT', axis=1) 

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [104]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = 44
hidden_nodes_layer1 =  12
hidden_nodes_layer2 = 12
hidden_nodes_layer3 = 12
                       
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_22"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_72 (Dense)            (None, 12)                540

 dense_73 (Dense)            (None, 12)                156

 dense_74 (Dense)            (None, 12)                156

 dense_75 (Dense)            (None, 1)                 13

=================================================================
Total params: 865
Trainable params: 865
Non-trainable params: 0
_________________________________________________________________

In [105]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [106]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 407us/step - loss: 0.6031 - accuracy: 0.6947
Epoch 2/50
804/804 [==============================] - 0s 396us/step - loss: 0.5603 - accuracy: 0.7254
Epoch 3/50
804/804 [==============================] - 0s 395us/step - loss: 0.5558 - accuracy: 0.7275
Epoch 4/50
804/804 [==============================] - 0s 393us/step - loss: 0.5533 - accuracy: 0.7275
Epoch 5/50
804/804 [==============================] - 0s 393us/step - loss: 0.5521 - accuracy: 0.7285
Epoch 6/50
804/804 [==============================] - 0s 393us/step - loss: 0.5504 - accuracy: 0.7304
Epoch 7/50
804/804 [==============================] - 0s 393us/step - loss: 0.5503 - accuracy: 0.7314
Epoch 8/50
804/804 [==============================] - 0s 451us/step - loss: 0.5488 - accuracy: 0.7318
Epoch 9/50
804/804 [==============================] - 0s 393us/step - loss: 0.5484 - accuracy: 0.7319
Epoch 10/50
804/804 [==============================] - 0s 403us/step - loss: 0.5478 - accuracy: 0.7325
Epoch 11/50
804/804 [==============================] - 0s 392us/step - loss: 0.5476 - accuracy: 0.7334
Epoch 12/50
804/804 [==============================] - 0s 395us/step - loss: 0.5469 - accuracy: 0.7334
Epoch 13/50
804/804 [==============================] - 0s 394us/step - loss: 0.5463 - accuracy: 0.7334
Epoch 14/50
804/804 [==============================] - 0s 399us/step - loss: 0.5462 - accuracy: 0.7327
Epoch 15/50
804/804 [==============================] - 0s 393us/step - loss: 0.5457 - accuracy: 0.7338
Epoch 16/50
804/804 [==============================] - 0s 393us/step - loss: 0.5455 - accuracy: 0.7335
Epoch 17/50
804/804 [==============================] - 0s 394us/step - loss: 0.5446 - accuracy: 0.7338
Epoch 18/50
804/804 [==============================] - 0s 394us/step - loss: 0.5444 - accuracy: 0.7336
Epoch 19/50
804/804 [==============================] - 0s 398us/step - loss: 0.5446 - accuracy: 0.7341
Epoch 20/50
804/804 [==============================] - 0s 400us/step - loss: 0.5441 - accuracy: 0.7348
Epoch 21/50
804/804 [==============================] - 0s 394us/step - loss: 0.5443 - accuracy: 0.7344
Epoch 22/50
804/804 [==============================] - 0s 393us/step - loss: 0.5438 - accuracy: 0.7356
Epoch 23/50
804/804 [==============================] - 0s 465us/step - loss: 0.5439 - accuracy: 0.7344
Epoch 24/50
804/804 [==============================] - 0s 402us/step - loss: 0.5432 - accuracy: 0.7346
Epoch 25/50
804/804 [==============================] - 0s 400us/step - loss: 0.5432 - accuracy: 0.7357
Epoch 26/50
804/804 [==============================] - 0s 393us/step - loss: 0.5429 - accuracy: 0.7350
Epoch 27/50
804/804 [==============================] - 0s 394us/step - loss: 0.5429 - accuracy: 0.7349
Epoch 28/50
804/804 [==============================] - 0s 394us/step - loss: 0.5431 - accuracy: 0.7353
Epoch 29/50
804/804 [==============================] - 0s 393us/step - loss: 0.5427 - accuracy: 0.7354
Epoch 30/50
804/804 [==============================] - 0s 393us/step - loss: 0.5425 - accuracy: 0.7359
Epoch 31/50
804/804 [==============================] - 0s 391us/step - loss: 0.5430 - accuracy: 0.7352
Epoch 32/50
804/804 [==============================] - 0s 393us/step - loss: 0.5426 - accuracy: 0.7350
Epoch 33/50
804/804 [==============================] - 0s 398us/step - loss: 0.5423 - accuracy: 0.7354
Epoch 34/50
804/804 [==============================] - 0s 391us/step - loss: 0.5426 - accuracy: 0.7350
Epoch 35/50
804/804 [==============================] - 0s 394us/step - loss: 0.5423 - accuracy: 0.7360
Epoch 36/50
804/804 [==============================] - 0s 399us/step - loss: 0.5422 - accuracy: 0.7358
Epoch 37/50
804/804 [==============================] - 0s 392us/step - loss: 0.5418 - accuracy: 0.7354
Epoch 38/50
804/804 [==============================] - 0s 394us/step - loss: 0.5422 - accuracy: 0.7361
Epoch 39/50
804/804 [==============================] - 0s 395us/step - loss: 0.5418 - accuracy: 0.7355
Epoch 40/50
804/804 [==============================] - 0s 393us/step - loss: 0.5421 - accuracy: 0.7359
Epoch 41/50
804/804 [==============================] - 0s 403us/step - loss: 0.5418 - accuracy: 0.7359
Epoch 42/50
804/804 [==============================] - 0s 391us/step - loss: 0.5416 - accuracy: 0.7355
Epoch 43/50
804/804 [==============================] - 0s 399us/step - loss: 0.5418 - accuracy: 0.7358
Epoch 44/50
804/804 [==============================] - 0s 394us/step - loss: 0.5417 - accuracy: 0.7359
Epoch 45/50
804/804 [==============================] - 0s 392us/step - loss: 0.5413 - accuracy: 0.7364
Epoch 46/50
804/804 [==============================] - 0s 395us/step - loss: 0.5410 - accuracy: 0.7362
Epoch 47/50
804/804 [==============================] - 0s 457us/step - loss: 0.5416 - accuracy: 0.7355
Epoch 48/50
804/804 [==============================] - 0s 403us/step - loss: 0.5413 - accuracy: 0.7359
Epoch 49/50
804/804 [==============================] - 0s 398us/step - loss: 0.5415 - accuracy: 0.7365
Epoch 50/50
804/804 [==============================] - 0s 398us/step - loss: 0.5412 - accuracy: 0.7366

In [107]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5513 - accuracy: 0.7284 - 134ms/epoch - 502us/step
Loss: 0.5513019561767578, Accuracy: 0.728396475315094

In [ ]:
# I tried extra hidden layers, different optimizers, activations, layer sizes, removing columns, etc. 
## In all of the many combinations I have done, the accuracy and loss remains between .71-.73, and loss ramains .55-.56

In [111]:
# Export our model to HDF5 file